input, label, button {
    display: block;
  }
  
   button {
    margin-top: 10px;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  .form {
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
  }
  
  .leftSide {
    width: 45%;
    display: inline-block;
    margin-right: 20px;
  }
  
  .rightSide {
    width: 48%;
    display: inline-block;
  }
  
  .rightSide p {
    margin: 0;
  }
  
  .rightSide p {
    margin: 5px 0;
  }
  
  .sameLine {
    margin: 0;
    display: inline-block;
  }
  
  .sameLine input {
    margin: 8px;;
    display: inline-block;
  }
  
  .rightLabel {
    margin-bottom: 18px;
  }
  
  .submitButton {
    padding: 7.5px 25px;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 28px;
  }
  